/* Mohammad Fakhari Rad - Student ID: 20154117
PP Fall 2018 CP1190 HTML5/CSS3 - Project Assignment
December 2018 */

html {
	font-family: Gill Sans Extrabold, sans-serif;
	background-color: #ff944d;
}

body {
	box-shadow: #661400 10px 0px 50px, #661400 -10px 0px 50px;
    border-left: 1px solid #660000;
    border-right: 1px solid #660000;
	border-radius: 10px;
	background-color: #ffffe6;
	width: 100%;
	height: 100%;
	max-width: 1200px;
	min-width: 680px;
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
}
header, header h1, #topnav, #topnav li, #topnav li, #topnav a,
 #rightaside, #leftaside, #prodmapimg img, #productPics section, #Rods, #lines {
	display: block;
} 

/*  header Styles  */
header{
	border-radius: 10px;
	background-repeat: no-repeat;
	background-position: 5px 5px;
	background-size: 215px 175px;
	background-color: rgb(102, 102, 255);
	background-image: url("mainLogoNew.png");
	height: 175px;
	color: #edffb3;
	padding: 5px;
	
}
header h1 {
	
	position: relative;
	left:20%;
    font-size: 55px;
	text-align: center;
	text-shadow: #000066 5px 5px 3px, gray 3px 4px 3px;
	width: 75%;
	padding-right: 25px;
	
}

header h3 {
	text-align: right;
	color: red;
	text-shadow: rgb(0, 0, 77) 2px 2px 5px;
	margin-right: 120px;
}


/* Navigation bar styles  */

#topnav {
	height: 60px; 
}
#topnav ul {
	margin: 0px;
    padding: 0px;
	width: 100%;
}

#topnav li{
	
	float: left;
	list-style-type: none;
	padding: 5.5px;
	width: 19%;
	
}

#topnav a{
	
	border: 3px outset rgb(128, 43, 0);
	box-shadow: inset rgb(77, 26, 0) -1px -2px 10px,
				inset rgb(77, 26, 0) 1px 2px 10px;
				
	border-radius: 10px;
	color: yellow;
	background-color: #cc3300;
	line-height: 1.5em;
	font-size: 1.6em;
	font-weight: bold;
	position: relative;
	text-align: center;
	text-decoration: none;
	height: 40px;
	width: 100%;
	
}

#topnav a:link {
	text-decoration: none;
	
}

#topnav a:focus {
	color: #df80ff;
}

#topnav a:hover {
   font-weight: bold;
   background-color: rgb(204, 204, 255);
   color: rgb(128, 0, 0);
   text-shadow: 1.5px 1.5px 2px rgb(0, 0, 153);
}

/* ================================ */
/* Home page styles */
/* ================================ */

aside {
	font-size: 1.1em;
	width: 20%;
	text-align: justify;
	border: 1.3px dotted #800000;
	border-radius: 15px;
	box-shadow: inset #cc5200 5px 5px 15px, inset #cc5200 -5px -5px 15px;
		
}
#rightaside {
	
	float: left;
	clear: left; 
	padding: 15px;
}

#leftaside {
	
	float: right;
	clear: right;
	padding: 15px;
	margin-bottom: 15px;
}
aside h1, .article h1 {
	border:2px solid #00111a; 
	background-color: rgb(102, 102, 255);
	border-radius: 10px;
	color:white;
	text-shadow: rgb(0, 0, 77) 2px 2px 8px;
	padding: 1px 5px;
	
}
#prodmapimg img{	
	margin-right: auto;
	margin-left: auto;
	position: top center; 
	border: 2px double black;
}
#homepagepic img{
	margin: 10px 7px;
	
	
}

.article {
	border: 1.3px dotted #800000;
	border-radius: 15px;
	box-shadow: inset #cc5200 5px 5px 15px, inset #cc5200 -5px -5px 15px;
	padding: 15px 25px;
	margin: 10px auto;
	overflow: auto;
	clear: both;
	width: 85%;
	
}
 .article img {
	 display: block;
	 float: right;
	 clear: right;
	 padding: 5px;
 }
.article h1 {
	width: 30%;
	height: 35px; 
	padding-left: 15px;
	font-size: 1.6em;
}
.article p{
	font-size: 1.1em;
	line-height: 135%;
}

#art2 {
	background-image: url("xmasoffer.jpg");
	background-repeat: no-repeat;
	background-position: 20px 260px;
	background-size: 240px 95px;
} 
/* ================================ */
/* Products page styles */
/* ================================ */

#productPics section{
	border: 1.3px dotted #800000;
	box-shadow: inset #cc5200 5px 5px 15px, inset #cc5200 -5px -5px 15px;
	width: 23.5%;
	padding: 2px;
	margin: 5.5px;
	
}

#productPics h3{
	border: 1px solid black;
	border-radius: 10px;
	background-color: #e62e00;
	color: #ffff1a;
	padding: 2px;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	text-align: center;
	line-height: 1.5em;
	letter-spacing:1.5px;
	}

#productPics a{
	text-decoration: none;
}
#productPics section img{
	margin-right: auto;
	margin-left: auto;
	position: relative;
	left: 20px;
	bottom: 15px; 
}
#Rods {
	float: left;
	clear: left;
}

#Lines {
	float: left;
}
#Baits {
	float: left;
	
}
#Tools{
	float: right;
	margin-top: 9px;
}

.productheader {
	background-color: #6666ff;
	border: 2px soild #000066;
	border-radius: 5px;
	margin-left:auto;
	margin-right: auto;
	margin-top: 25px;
	height: 55px;
	text-align: center;
	line-height: 3.5em;
	width: 50%;
	color: white;
	
}

.prodinfo div{
	border: 1.3px dotted #800000;
	border-radius: 15px;
	box-shadow: inset #cc5200 5px 5px 15px, inset #cc5200 -5px -5px 15px;
	padding-bottom: 15px;
}


li.header{
	background-color:#6666ff;
	width: 40%; 
	height: 35px;
	padding: 8px;
	margin-top: 10px;
	line-height: 1.7em;
	font-weight: bold;
	color: white;
}

section.prodpic {
	padding-bottom: 5px;
	
}

.itemtitle {
	
	list-style-type: none;
	font-size: 1.6em;
	font-weight: bold;
	letter-spacing: 1.5px;
	margin-top: 45px;
	margin-left: 15px;
	
}

section.prodpic {
	
	margin-top: 15px;
	margin-right: 25px;
}

section.prodpic ul {
	width: 40%;
	text-align: justify;
}

#rod1info {
	background-image: url("rod1.png");
	background-repeat: no-repeat;
	background-position: 95% 50%;
}
#rod2info{
	background-image: url("rod2.jpg");
	background-repeat: no-repeat;
	background-position: 90% 55%;
}
#rod3info, #flyrod1, #flyrod2, #flyrod3 {
	background-repeat: no-repeat;
	background-position: 90% 55%;
	background-size: 450px 350px;
}

#rod3info{
	background-image: url("rod3.png");
	
}
#flyrod1 {
	background-image: url("flyrod1.png");
}

#flyrod2 {
	background-image: url("flyrod2.png");
}
#flyrod3 {
	background-image: url("flyrod3.png");
	}

#icerod1, #icerod2, #icerod3 {
	background-repeat: no-repeat;
	background-position: 90% 55%;
	background-size: 450px 550px;
}
#icerod1{
	background-image: url("icerod1.png");
}

#icerod2{
	background-image: url("icerod2.png");
}

#icerod3{
	background-image: url("icerod3.png");
}

#line1info,#line2info,#lineF1, #braid1, #braid2,
#lure1info, #lure2info, #softbait1, #wader1, #wader2, #apparel1 {
	background-repeat: no-repeat;
	background-position: 90% 55%;
	background-size: 290px 390px;
}
#line1info {
	background-image: url("line1.png");
}

#line2info {
	background-image: url("line2.png");
}
#lineF1{
	background-image: url("lineF1.png");
}

#braid1 {
	background-image: url("braid1.png");
}

#braid2 {
	background-image: url("braid2.png");
}

#lure1info {
	background-image: url("lure1.png");
}

#lure2info {
	background-image: url("lure2.png");
}
#softbait1{
	background-image: url("softbait1.png");
}
#wader1{
	background-image: url("wader1.png");
}

#wader2{
	background-image: url("wader2.png");
}

#apparel1{
	background-image: url("apparel1.png");
}

.buyButton img{
	position: relative;
	top: 90%;
	right: -45%;
}

.price {
	background-color:#ff6600;
	width: 40%; 
	height: 35px;
	margin-top: 1px;
	padding: 8px;
	font-size: 1.7em;
	font-weight: bold;
	color: white;
}

hr {
	width: 75%;
}

.goto {
	margin-left: 50px;
	text-decoration: italic;
	color: #000099;
	font-weight: bold;
	
}
.goto a{
	text-decoration: none;
	text-align: right;
}

/* ================================ */
/* Tours page styles */
/* ================================ */
.toursinfo div{
	border: 1.3px dotted #800000;
	border-radius: 15px;
	box-shadow: inset #cc5200 5px 5px 15px, inset #cc5200 -5px -5px 15px;
	padding: 15px 20px;
	margin-top: 12.5px;
	line-height: 1.5em;
}

.tourTitle{
	background-color:#6666ff;
	width: 40%; 
	height: 35px;
	padding: 8px;
	margin-top: 10px;
	line-height: 1.7em;
	font-weight: bold;
	color: white;
}

.tourpics{
	display: block;
	margin-left: 70px;
}
.tourpics img{
	margin-right: 35px;
}

.moreinfo {
	line-height: 1.5em;
	color: navy;
	font-weight: bold;
}
.moreinfo a{
	text-decoration: none;
}
.tourprice {
	background-color:#ff6600;
	width: 40%; 
	height: 35px;
	margin-top: 1px;
	padding: 8px;
	font-size: 1.7em;
	font-weight: bold;
	color: white;
}
 .booktrip{
	 display: block;
	 float: right;
	 position: relative;
	 bottom: 85px; 	 
	 right: 35px;
}


/* ================================ */
/* Fishing Info. page styles */
/* ================================ */
.infosection {
	border: 1.3px dotted #800000;
	border-radius: 15px;
	box-shadow: inset #cc5200 5px 5px 15px, inset #cc5200 -5px -5px 15px;
	padding: 15px 20px;
	margin-top: 12.5px;
	line-height: 1.5em;
	
}
.infotitle h3 {
	background-color:#6666ff;
	width: 40%; 
	height: 35px;
	padding: 8px;
	margin-top: 10px;
	line-height: 1.7em;
	letter-spacing: 1px;
	font-weight: bold;
	color: white;
}

#species section{
	width: 99%;
	padding: 2px;
	margin: 10px 5px;	
}
#trout, #salmon, #others {
	border: 2px solid black;
	border-radius: 10px;
	margin: 15px auto;
}

.infotitle h4 {
	background-color: #ff6600;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	width: 18%;
	height: 35px;
	margin-top: 10px;
	margin-left: 15px;
	padding-left: 15px;
	
}


#trout .troutpics {
	display: block;
	margin-left: 60px;
	margin-right: auto;
	padding: 5px;
}

.troutpics img {  
	padding: 5px;
}

.salmonpics a{
	margin-left: 35px;
	
}
.otherspics a {
	margin-left: 75px;
}

.fishtitle {
	list-style-type: upper-roman;
}

#bestspots>ol>li {
	background-color:#ff6600;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	width: 30%; 
	margin-top: 10px;
	padding-left: 15px;
}
#guidelines {
	background-image: url("anglersguide-guidedepecheur-2018-19-eng.jpg");
	background-repeat: no-repeat;
	background-position: 95% 50%;
	background-size: 250px 450px;
}
#guide {
	width: 55%;
}

#guidelines img{
	float: right;	
	margin-right: 300px;
}
#bestspots {
	background-image: url("mohpic.jpg");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 520px 700px;
}
#trout dl dt{
	font-weight: bolder;
	padding: 7.5px;
	margin-top: 10px;
}

#schedule th {
	background-color: #b32d00;
	color: white;
}
#schedule tr td:nth-child(1) {
	background-color: #ff8c66;
	color: black;
	font-weight: bold;
}

.zoneNF ul, .zoneNF li{
	line-height: 1.5em;
}

#fishingtable {
	background-image: url("zonesLB.jpg");
	background-repeat: no-repeat;
	background-position: bottom right;
}	
td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;	
}

/* ================================ */
/* About Us page styles */
/* ================================ */

.fishwishinfo {
	border: 1.3px dotted #800000;
	border-radius: 15px;
	box-shadow: inset #cc5200 5px 5px 15px, inset #cc5200 -5px -5px 15px;
	padding: 15px 20px;
	margin-top: 12.5px;
	line-height: 1.5em;
}

.fishwishinfo h2 {
	background-color: #0040ff;
	color: white;
	width: 25%; 
	height: 45px;
	text-align: center;
	line-height: 1.6em;
}
#company {
	background-image: url("bosses.jpg");
	background-repeat: no-repeat;
	background-position: 95% 20%;
	background-size: 500px 335px;
}

#company p:not(#lastp){
	width: 53%;
	text-align: justify;
}
#company a{
	text-decoration: none;
}

#contacts {
	background-image: url("contactus.jpg");
	background-repeat: no-repeat;
	background-position: 95% 45%;
	background-size: 500px 335px; 
}
.contact{
	font-weight: bold;
	font-size: 1.3em;
}
/* ================================ */
/* Footer styles */
/* ================================ */
footer {
	float: auto;
	clear: both;
	height: auto; 
	background-color: white;
    font-weight: bolder;
	color: #b30000;
    margin-top: 5px;
	padding: 10px;
}
footer img {
	position: center center;
	width: 130px;
	height: 112px;
}

#footer{
	background-color:#ff6600;
	box-shadow: inset #cc5200 5px 5px 15px, inset #cc5200 -5px -5px 15px; 
	color: white;
	width: 55%; 
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#footer a{
	text-decoration: none;
	font-size: 1.2em;
}