/* Mohammad Fakhari Rad - Student ID: 20154117
PP Fall 2018 CP1190 HTML5/CSS3 - Project Assignment
December 2018 */	  

/* Style Sheet for Form Page */

html {
	background-image: url("formbackgroundimage.png");
	background-repeat: round;
	background-size: 235px 195px;
	
}

body {
	margin-top: 35px;
}
form#purchaseForm {
display: -webkit-flex;
display: flex;
-webkit-flex-flow: row wrap;
flex-flow: row wrap;
}

form#purchaseForm > fieldset {
background-color: rgb(179, 179, 255);
border-radius: 20px;
-webkit-flex: 1 1 300px;
flex: 1 1 300px;
font-size: 1.1em;
padding: 10px;
margin: 10px;
}
div.formRow {
display: -webkit-flex;
display: flex;
-webkit-flex-flow: row wrap;
flex-flow: row wrap;
margin: 7px 0px;
}
div.formRow > * {
-webkit-flex: 1 1 150px;
flex: 1 1 150px;
}

input::-webkit-input-placeholder {
color: rgb(255, 151, 151);
}
input:-ms-input-placeholder {
color: rgb(255, 151, 151);
}
input::-moz-placeholder {
color: rgb(255, 151, 151);
}

#custInfo {
	line-height: 2em;
}
#custInfo label {
	 font-size: 1.3em;
 }

#custInfo input {
	 line-height: 3em;
	 padding-left: 13px;
 }
textarea {
	height: 250px;
}

legend {
	border: 3px double black;
	border-radius: 10px;
	width: 97%;
	background-color: #ff6600;
	font-weight: bold;
	font-size: 1.4em;
}
#buttons {
	display: block;
	float: right;
	clear: both;
	margin-right: 12.5%;
	
}